<div class="container mt-5 card">
  <h1 class="text-center">Cabalen City Battle Pass</h1>
  <div class="row ">
    <div class="col-md-4" >
      <div class="card mb-4" >
        <div class="card-body text-center scrollexp">
          <h5 class="card-title">Ways to earn EXP</h5>
          <div>
            <span class="badge bg-primary rounded-pill">MISSION</span>  <span class="badge bg-primary rounded-pill">To DO</span><span class="badge bg-primary rounded-pill">Completed</span>
    
            <div *ngFor="let data of battlePassMission">
              <span *ngIf="!data.status" class="badge bg-primary rounded-pill">{{data.Mission}}</span>  <span *ngIf="!data.status" class="badge bg-primary rounded-pill">{{data.task}}</span><span *ngIf="!data.status" class="badge bg-primary rounded-pill">{{data.current}}</span>
            </div>
          </div>      
          <p class="card-text mt-3"></p>
        </div>
      </div>
    </div>  
    <div class="col-md-4" *ngIf="!status" >
      <div class="card mb-4" >
        <div class="card-body text-center basicinfo ">
          <h5 class="card-title">Buy Battle Pass</h5>
          <button type="button" class="btn btn-info">Click Here</button>
          <p class="card-text mt-3"></p>
        </div>
      </div>
    </div>  
    <div class="col-md-4" >
      <div class="card mb-4" >
        <div class="card-body text-center basicinfo ">
          <h5 class="card-title">Your Info</h5>
          <h5>Current Level: {{current}}</h5>
          <h5>Status: {{status}}</h5>
          <p class="card-text mt-3"></p>
        </div>
      </div>
    </div>  
  </div>  
    <div class="row scrollmagic">
        <div class="col-md-4" *ngFor="let data of battlePassData">
          <div class="card mb-4" >
            <div class="card-body text-center">
              <h5 class="card-title">Level {{ data.level }}</h5>
              <div class="level-icon mx-auto">
               <img src= {{data.img}}  alt="Description of the image" width="80" height="80">
              </div>
              <p class="card-text mt-3">{{ data.reward }}</p>
            </div>
          </div>
        </div>  
    </div>
    <div class="container mt-5">
        <!-- <h1 class="text-center">Parent Component</h1> -->
        <app-progress-bar [progress]="progress"></app-progress-bar>
        <h1 class="text-center"></h1>
        <!-- <button (click)="updateProgress(10)">Update Progress</button> -->
      </div>
</div>
